* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;


}

header,
main,
.foot {
    max-width: 1320px;
    width: 80%;
    margin: 0 auto;
}

/* Banner style */

.banner {
    background-image: url("../resources/Banner\ Image.png");
    height: 80vh;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 50px;
    margin-bottom: 0px;
}

.banner-text {
    text-align: center;
    color: #FFF;
    padding: 150px 300px;
}

.banner-name {
    font-size: 32px;
    font-weight: 400;
}

.banner-tittle {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 10px;


}

/* Mid section styles */

.mid-sec {

    text-align: center;
}

.discount {
    color: #F00;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 88px;

    font-weight: 700;

}

.holiday {
    color: #F00;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 500;

}

.all {
    color: #070211;

    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 48px;

    font-weight: 700;

}


/* Midnight section styles */

.midnight-party {
    margin-top: 120px;
    background-image: url("../resources/Vectorrr.png");
    height: 80vh;
    background-repeat: no-repeat;
    background-position: top center;
    /* margin-top: 50px; */
    margin-bottom: 0px;
}

.midnight-party-content {

    display: flex;
    justify-content: center;
    gap: 70px;
}

.midnight-party-texts {
    margin-top: 120px;
}

.welcome {
    color: #FFF;

    font-size: 64px;
    margin-bottom: 20px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.description {
    color: #ffffff;

    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.join {
   padding: 10px;
   background-color:#070211;
   color: #FFF;
   border: 0;
   margin-left: 20px;
}

.midnight-img {
    margin-top: 60px;
}


/* Awesome section styles */

.awesome-info {

    margin-bottom: 45px;

}

.awesome-text {

    margin-bottom: 15px;
    color: #F00;

    font-size: 24px;

    font-weight: 500;

}

.awesome-tittle {
    color: #070211;

    font-size: 48px;

    font-weight: 900;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.awesome-para {
    color: #070211;

    font-size: 20px;

    font-weight: 400;

}

.awesome-img-1,
.awesome-img-2 {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;

}


/* Subscribe section style */

.subscribe {
    margin-top: 100px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-bottom: 100px;
}

.subscribe-content {
    text-align: center;
}

.subscribe-img {
    margin-top: 70px;
    margin-bottom: 30px;
}

.subscribe-tittle {
    color: #070211;

    margin-bottom: 20px;
    font-size: 48px;

    font-weight: 900;

}

.subscribe-para {
    color: rgba(7, 2, 17, 0.60);

    font-size: 20px;

    font-weight: 400;
    line-height: 32px;
    margin-bottom: 35px;

}

form input,
textarea {
    border-radius: 50px 1px 0px 50px;
    border: none;
    background: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 200px;
}

.subs-btn {
    border-radius: 0px 50px 50px 0px;
    border: none;
    color: #FFF;
    background: #F00;
    padding: 20px 50px;
    margin-bottom: 80px;
}


/* footer section style */

footer {
    background: #070211;

}

.info-1, .info-2 {
    
    display: flex;
    justify-content: space-between;

}

.address, .contact, .rights , .unsubs{
    margin-top: 100px;
    margin-bottom: 40px;
}

.home-address, .number, .world , .rights-sp, .unsubs {
    color: #FFF;

    font-size: 18px;

    font-weight: 500;
    
}

.social{
    padding-top: 45px;
    text-align: center;
    padding-bottom: 45px;
    
}

hr{
    color: #000;
}